<head>
  <meta charset="UTF-8">
  <title><%= @room.name %></title>
</head>
<body>
  <script src='//static.opentok.com/v2/js/opentok.min.js'></script>
  <script>
    var apiKey =  "<%= @apiKey %>";
    var sessionId = "<%= @room.sessionId %>";
    var token = "<%= @tok_token %>";
    var session = OT.initSession(apiKey, sessionId);
    session.connect(token, function(error){
      if(error){
       alert("There is an error!"); 
      }
      else{
        session.publish();
      }
    });

    session.on("streamCreated", function(event){
      session.subscribe(event.stream);
    });
  </script>
</body>
