<% @room.paintings.each do |painting| %>
  <% if !painting.new_record? %>
    <div class="painting" style="display:inline-block; background-color:white;">
      <% painting.public = true %>
      <%= image_tag painting.image_url(:thumb).to_s %>
      <div class="name"><%= painting.name %></div>
      <div class="actions">
        <button type="button" id="imageDelete" class="btn-primary" onclick="deleteImage('<%= @room.id %>', '<%= painting.id %>')">Delete</button>
        
      </div>
    </div>
  <% end %>
<% end %>
